:root {
    --clr-primary: #6366F1;
    --clr-gradient: ; 
    --clr-gray100: #F3F6FF;
    --clr-gray200: #EFF2FC;
    --clr-gray300: #E2E5F1;
    --clr-gray400: #D4D7E5;
    --clr-gray500: #B4B7C9;
    --clr-gray600: #9397AD;
    --clr-gray700: #565973;
    --clr-gray800: #33354D;
    --clr-gray900: #0B0F19;

    --clr-white: #fff ;

    --clr-gradient: radial-gradient( #6365f219 0%, #db46ef1b 42%, #f1f4fd27 83%);
    --container-padding: 1rem;
    --transition-time: all 0.2s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Manrope", system-ui;

}

main {
        
    background-image: var(--clr-gradient);

}



.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}


a {
    color:var(--clr-gray800);
    text-decoration: none;
    
}
a:hover {
    color:var(--clr-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-primary:hover {
    background-color: var(--clr-gray700);
    color: var(--clr-white);
    text-decoration: none;
}
.btn-primary i {
    margin-right: .5rem;
}


.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-gray500);
    transition: var(--transition-time);
}

.toggle-switch .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: var(--clr-white);
    transition: .4s;

}
.toggle-switch input:checked + .slider {
    background-color: var(--clr-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-gray600);
}

.toggle-switch input:checked + .slider::before {
    transform: translateX(18px);
    background-color: var(--clr-white);

}

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round::before {
    border-radius: 50%;
}

.btn-mobile {
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.navbar {
    display: none;

}
.nav-link {
    color:var(--clr-gray800);
    font-weight: 600;
    text-decoration: none;
}

#auth-signin {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        width: 442px;
        font-size: 40px;
        font-weight: 900;
    }
}

.text {
    
    text-align: center;
    p {
        padding: 2rem;
        color: var(--clr-gray700);
        font-size: 18px;
    }
}

.login-link {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    
}

.link {
    max-width: 100%;
    height: auto;
    
}

#phone-1 {
    display: none;
}


.discover {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-discover {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: var(--clr-white);
        border: none;
        box-shadow: 0 0 10px #0b0f1958 ;
        margin-right: 20px;
    }

    span {
        color: var(--clr-gray700);
        font-size: 14px;

    }
}

#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

}

.brand-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--clr-gray400);
    border-radius: 8px;
    height: 100px;
    width: 196px;
}





@media (min-width: 768px) {
    .container {
        max-width: 720px;

    }

    .btn-toggle-switch .label {
        display: block;
    }

    header .container {
        gap: 3rem;

    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .title {
        grid-column: 1/-1;
        grid-row: 1;
        padding-bottom: 1rem;
    }


    .text {
        padding-top: 4rem;
        text-align: left;
        grid-column: 1;
        grid-row: 2;

    }

    .login-link {
        flex-direction: row;
        padding-inline: 2rem; 
        
    }


    .discover {
        padding-top: 5rem;
        padding-right: 5rem;

    }

    #phone-1 {
        display: grid;
        grid-column: 2;
        grid-row: 2;
        padding-right: 20px;
    }


    #brands {
        display: block;
    }
    #brand-5, #brand-6 {
        display: none;
    }
}    
 


@media (min-width: 1400px) {
    .container {
        max-width: 1320px;

    }
 
    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;

    }

    .navbar {
        display: block;
    }
    #auth-signin {
        display: block;
    }

    .btn-mobile {
        display: none;
    }


    .title {
        text-align: left;
        margin-right: auto;
        margin-left: 370px;
        margin-top: 4rem;
        padding-bottom: 0;
    }

    .text {
        padding-top: 0;
        max-width: 526px;
        margin-left: 340px;
    }

    .discover {
        margin-right: 250px;
        margin-top: 370px;
    }

    #phone-1{
        display: inline-block;
        height: 680px;
        margin-right: 312px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    #brand-5, #brand-6 {
        display: flex;
    }

}








